<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
</head>

<body>

  <header>
    <%- include('../../partials/header'); %>
  </header>

  <main class="container py-4">
    <form action="/professor/quiz/<%= data['_id']%>/add-one" method="post">
      <div class="card mt-2">
        <div class="card-header">
          Add Question
        </div>
        <div class="card-body">
          <div class="my-2">
            <textarea class="form-control" rows="3" placeholder="Enter Question Here" name="question"></textarea>
          </div>
          <div class="my-2">
            <div class="row">
              <div class="col-md-3 col-lg-2">Option A</div>
              <div class="col-md-9 col-lg-10">
                <input type="text" name="option_a" id="option_a" class="form-control">
              </div>
            </div>
          </div>
          <div class="my-2">
            <div class="row">
              <div class="col-md-3 col-lg-2">Option B</div>
              <div class="col-md-9 col-lg-10">
                <input type="text" name="option_b" id="option_b" class="form-control">
              </div>
            </div>
          </div>
          <div class="my-2">
            <div class="row">
              <div class="col-md-3 col-lg-2">Option C</div>
              <div class="col-md-9 col-lg-10">
                <input type="text" name="option_c" id="option_c" class="form-control">
              </div>
            </div>
          </div>
          <div class="my-2">
            <div class="row">
              <div class="col-md-3 col-lg-2">Option D</div>
              <div class="col-md-9 col-lg-10">
                <input type="text" name="option_d" id="option_d" class="form-control">
              </div>
            </div>
          </div>
          <div class="my-2">
            <div class="row">
              <div class="col-md-3 col-lg-2">Correct</div>
              <div class="col-md-9 col-lg-10">
               <select name="correct" class="form-control">
                 <option value="A">Option A</option>
                 <option value="B">Option B</option>
                 <option value="C">Option C</option>
                 <option value="B">Option D</option>
               </select>
              </div>
            </div>
          </div>
          <div class="mt-4">
            <div class="row">
              <div class="col-md-3 col-lg-2">
                <button type="submit" class="btn btn-primary btn-block">Create</button>
              </div>
              <div class="col-md-9 col-lg-10">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    </div>
  </main>

  <footer>
    <%- include('../../partials/footer'); %>
  </footer>

</body>

</html>